body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}


.main-canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    transition: opacity 1s ease-in-out;
}

.main-canvas.hide {
    opacity: 0;
}

main {
    position: fixed;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.main-video {
    height: 58vh;
    position: absolute;
    margin-top: -1vh;
}


.cta {
    cursor: pointer;
    transition: all .4s ease;
    border: 2px solid #2c2e2b;
    position: relative;
    z-index: 1000;
    pointer-events: auto;
}

.cta:hover {
    color: #2c2e2b;
    background-color: white;
}

.section-player {
    pointer-events: auto;
}

.hide {
    pointer-events: none;
}

.lavie {
    height: 60vh;
    margin-bottom: -1vh;
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
}

.hide .lavie {
    pointer-events: none;
}

.lavie img {
    height: 100%;
    position: relative;
    z-index: 10;
    pointer-events: none;
}

.tuto-title {
    z-index: 10;
}

.point {
    display: flex;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    background-color: #2c2e2b;
    position: fixed;
    z-index: 100;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;
}

.point img {
    width: 13px;
    height: 13px;
    transition: all .4s ease;
}


.point:hover img {
    transform: scale(.7);
}


.points {
    transition: all 1s ease;
    position: fixed;
    z-index: 10;
    pointer-events: none;
}

.points.hide {
    opacity: 0;
}

.point-text {
    background: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 7px 14px 5px;
    font-size: 16px;
    position: absolute;
    transition: all .4s ease;
    transform: translate(-50%, -130%);
    white-space: nowrap;
}

.hide .point-text {
    opacity: 0;
    transform: translate(-50%, -100%)
}

.legend {
    position: fixed;
    z-index: 2000;
}

.player-img-wrapper {
    height: 30vh;
    width: 30vh;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.player-video {
    height: 160vh;
    position: absolute;
    transition: all 2s ease-in-out;
}


.video-p0 {
    transform: translate(-21.5%, -23%) scale(.65);
}

.video-p1 {
    transform: translate(-16%, 2%);
}

.video-p2 {
    transform: translate(2%, 12%);
}

.video-p3 {
    transform: translate(19%, 8%) scale(.7);
}


.video-p4 {
    transform: translate(5%, 9%) scale(.4);
}

.video-p5 {
    transform: translate(1%, 9%) scale(.4);
}

.video-p6 {
    transform: translate(29.5%, -9%) scale(.8);
}

.video-p7 {
    transform: translate(22%, 13%);
}

.video-p8 {
    transform: translate(-19%, 23%) scale(.8);
}

.video-p9 {
    transform: translate(-35%, -13%) scale(.9);
}

.video-p10 {
    transform: translate(-33%, 25%) scale(.85);
}

.video-p11 {
    transform: translate(27%, 33%) scale(.85);
}

.player-top {
    position: relative;
    cursor: pointer;
}

.cta-close {
    width: 46px;
    height: 46px;
    background: #2c2e2b;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-1.4vh, 1.4vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}

.player-bottom.hide {
    opacity: 0;
}

.zoom-indic {
    width: 50px;
    height: 290px;
    position: fixed;
    z-index: 1000;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: auto;
    transition: all 1s ease-in-out;
}

.zoom-indic.hide {
    transform: translate(56px, -50%);
}

.zoom-bar {
    width: 3px;
    height: 180px;
    background-color: #bababa;
    border-radius: 3px;
    margin: 15px 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.zoom-inside {
    background-color: #2c2e2b;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .1s linear;
}

.zoom-btn {
    cursor: pointer;
}

.icon-play,
.icon-pause {
    position: absolute;
    transition: all .4s ease;
}

.icon-play.hide,
.icon-pause.hide {
    opacity: 0;
}

.icon-play {
    transform: translateX(1px);
}

.hide .cta {
    pointer-events: none;
}

.bar-control {
    padding: 3px 0;
    cursor: pointer;
}

.zoom-bar-wrapper {
    padding: 0 3px;
    cursor: pointer;
}

.random:after,
.loop:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #2c2e2b;
    bottom: -2px;
    border-radius: 5px;
    transition: all .4s ease;
    opacity: 0;
}